menu "MVEBU commands"
depends on ARCH_MVEBU

config CMD_MVEBU_BUBT
	bool "bubt"
	default n
	help
	  bubt - Burn a u-boot image to flash
	  For details about bubt command please see the documentation
	  in doc/mvebu/cmd/bubt.txt

config MVEBU_UBOOT_DFLT_NAME
	string "Default image name for bubt command"
	depends on ENV_IS_ON_SELECTED_BOOT_DEVICE
	default "u-boot-spl-mmc.kwb" if MVEBU_SPL_BOOT_DEVICE_MMC
	default "u-boot-spl-nand.kwb" if MVEBU_SPL_BOOT_DEVICE_NAND
	default "u-boot-spl-sata.kwb" if MVEBU_SPL_BOOT_DEVICE_SATA
	default "u-boot-spl-sdhc.kwb" if MVEBU_SPL_BOOT_DEVICE_SDHC
	default "u-boot-spl-spi.kwb" if MVEBU_SPL_BOOT_DEVICE_SPI
	default "u-boot-spl.kwb"
	help
	  This option should contain a default file name to be used with
	  MVEBU "bubt" command if the source file name is omitted

endmenu
