#
# Network configuration
#

menuconfig NET
	bool "Networking support"
	default y

if NET

config NET_RANDOM_ETHADDR
	bool "Random ethaddr if unset"
	help
	  Selecting this will allow the Ethernet interface to function
	  even when the ethaddr variable for that interface is unset.
	  A new MAC address will be generated on every boot and it will
	  not be added to the environment.

config NET_RANDOM_ETHADDR_OUI 
        string "OUI for random Ethernet device mac address"
	depends on NET_RANDOM_ETHADDR
        default "de:ad:be:00:00:00"
        help
          Ethernet MAC address to use as the reference OUI for additional 
          random addresses. This allows generating relatively sane
	  vendor identifiable MACs without stepping on properly fused
	  devices. 

config NETCONSOLE
	bool "NetConsole support"
	help
	  Support the 'nc' input/output device for networked console.
	  See README.NetConsole for details.

endif   # if NET
